.account {
  width: 50%;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  font-size: 14px;
}

.account > span:last-child {
  cursor: pointer;
}
.account .h3 {
  font-size: 100px;
  line-height: 19px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .account span {
    font-size: 13px; /* Ещё большее уменьшение размера шрифта для маленьких экранов */
  }
}
