.hello-page {
  background-image: url("../assets/images/fon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .caption {
  margin: 10px 0 0 0;
  font-size: 19px;
  text-align: center;
}

.container .text-container {
  max-width: 1100px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.451);
  border-radius: 8px;
  margin-bottom: 80px;
}

.container h2 {
  font-size: 2rem;
  text-align: center;
}

.container p {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

.container .column img {
  max-height: 300px;
  width: auto;
  width: 40%;
}

.container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33.33%;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width: 480px) {
  .column {
    flex: 100%;
  }
}
